<div class="row">
  <div class="col">
    <div class="well">
      <h2>Welcome to your personalized food product service</h2>
      <%= image_tag "ryan-linnegar-7427.jpg", :class => "img-fluid" %>
    </div>
  </div>
</div>
