<div class="row">
  <div class="col">
    <div class="well">
      <h2>Welcome to your personalized food product service</h2>
      <h4>We are Mario's</h4>
      <h5>Local to Portland since - 1906 -</h5>
      <%= image_tag "ryan-linnegar-7427.jpg", :class => "img-fluid" %>
    </div>
  </div>
</div>
